@-ms-viewport
{
	width: 640px;
}

@-webkit-viewport
{
	width: 640px;
}

@-o-viewport
{
	width: 640px;
}

@-moz-viewport
{
	width: 640px;
}

@viewport
{
	width: 640px;
}

.html
{
	background: #7F7F7F url("../images/background_pattern.gif") repeat left top fixed;
}

#page
{
	z-index: 1;
	width: 640px;
	min-height: 1300px;
	border-style: none;
	border-color: #000000;
	background: transparent url("../images/background_pattern.jpg") no-repeat left top;
}

#page_position_content
{
	margin-bottom: 254px;
}

#pu324
{
	width: 0.01px;
	position: relative;
}

#u324
{
	z-index: 21;
	width: 641px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u325
{
	z-index: 22;
	width: 641px;
	position: relative;
	margin-right: -10000px;
}

#u326
{
	z-index: 23;
	width: 639px;
	height: 125px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #ED1A3B;
	position: relative;
	margin-right: -10000px;
}

#u332
{
	z-index: 24;
	width: 258px;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 191px;
}

#u334
{
	z-index: 2;
	width: 640px;
	position: relative;
}

#u336
{
	z-index: 4;
	width: 580px;
	margin-left: 31px;
	margin-top: 23px;
	position: relative;
}

#u337-4
{
	z-index: 5;
	width: 580px;
	min-height: 46px;
	line-height: 36px;
	font-size: 30px;
	color: #FFFFFF;
	font-family: source-sans-pro, sans-serif;
	font-weight: 700;
	position: relative;
}

#u338-4
{
	z-index: 9;
	width: 580px;
	min-height: 115px;
	line-height: 29px;
	font-size: 24px;
	color: #FFFFFF;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	margin-top: 2px;
	position: relative;
}

#u327-6
{
	z-index: 13;
	width: 580px;
	min-height: 70px;
	line-height: 22px;
	font-size: 18px;
	color: #7F7F7F;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	margin-left: 31px;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#u330
{
	z-index: 26;
	width: 524px;
	margin-left: 58px;
	margin-top: 13px;
	position: relative;
}

#u328
{
	z-index: 19;
	width: 117px;
	margin-left: 262px;
	margin-top: 193px;
	position: relative;
}

#u328_img
{
	padding-right: 9px;
	padding-bottom: 3px;
}

